<div class="links-bar">
    <a href="http://csml.stats.ox.ac.uk/people/foster/" class="first-link-item"><img src="{{ '/assets/oxford.ico' | relative_url }}" alt="Logo" class="link-logo">&nbsp;OxCSML page</a>
    <a href="https://github.com/ae-foster" class="link-item"><img src="{{ '/assets/github.png' | relative_url }}" alt="Logo" class="link-logo">&nbsp;GitHub</a>
    <a href="https://scholar.google.com/citations?user=1MsXZJ0AAAAJ&hl=en" class="link-item"><img src="{{ '/assets/google-scholar.png' | relative_url }}" alt="Logo" class="link-logo">&nbsp;Google Scholar</a>
    <a href="https://www.linkedin.com/in/adamefoster/" class="link-item"><img src="{{ '/assets/linkedin.svg' | relative_url }}" alt="Logo" class="link-logo">&nbsp;LinkedIn</a>
    <a href="{{ '/assets/CV_2021.pdf' | relative_url }}" class="link-item"><img src="{{ '/assets/cv.png' | relative_url }}" alt="Logo" class="link-logo">&nbsp;CV</a>
</div>

