---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- include links.html -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2>Recent work</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:15 -%}
      <li>
        {%- if post.thumbnail -%}
        <img class="thumbnail" src="{{ post.thumbnail | relative_url }}" alt="Thumbnail">
        {%- endif -%}
        {%- assign date_format = "%-d %B %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }} &#8226; {{ post.tag | capitalize }}</span>
        <h6>
          {%- if post.external_url -%}
          <a class="post-link" rel="canonical" href="{{ post.external_url }}">
            {{ post.title | escape }}
          </a>
          {%- else -%}
          <a class="post-link" rel="canonical" href="{{ post.url | relative }}">
            {{ post.title | escape }}
          </a>
          {%- endif -%}
        </h6>
        {%- if post.authors -%}
        {{ post.authors }}. &nbsp;
        {%- endif -%}
        {%- if post.published -%}
        <em>{{ post.published }}.</em>
        {%- endif -%}
      </li>
      {%- endfor -%}
      </ul>
  {%- endif -%}

</div>
